@import "tailwindcss";

@layer base {
  body {
    background-color: white;
    color: black;
  }
  @media print {
    @page {
      margin: 1cm;
    }
    body {
      background-color: white !important;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}
